/* style.css */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #181818;
    color: white;
}

/* Navigation */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #202020;
    position: sticky;
    top: 0;
    z-index: 100;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    color: red;
}

.search-bar {
    display: flex;
    width: 40%;
}

.search-bar input {
    width: 100%;
    padding: 8px;
    background: #121212;
    border: 1px solid #303030;
    color: white;
}

/* Bouton Upload Stylisé */
.upload-btn-wrapper {
    position: relative;
    overflow: hidden;
    display: inline-block;
}

.btn {
    border: 1px solid gray;
    color: white;
    background-color: #303030;
    padding: 8px 20px;
    border-radius: 2px;
    font-weight: bold;
  /* Ajout pour la mise en page Upload vs Lecture */
.upload-section {
    flex: 1;
    background: #202020;
    padding: 20px;
    height: fit-content;
}

.upload-section input, .upload-section textarea {
    display: block;
    width: 90%;
    margin-bottom: 10px;
    background: #121212;
    border: 1px solid #333;
    color: white;
    padding: 10px;
}

.feed {
    flex: 3;
}
